[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/gen_tags.vim"]
	path = bundle/gen_tags.vim
	url = https://github.com/jsfaint/gen_tags.vim
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/tmux.vim"]
	path = bundle/tmux.vim
	url = https://github.com/keith/tmux.vim
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "bundle/cisco.vim"]
	path = bundle/cisco.vim
	url = https://github.com/momota/cisco.vim
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "bundle/vim-qlist"]
	path = bundle/vim-qlist
	url = https://github.com/romainl/vim-qlist
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/rainbow-levels.vim"]
	path = bundle/rainbow-levels.vim
	url = https://github.com/thiagoalessio/rainbow_levels.vim
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "bundle/errormaker.vim"]
	path = bundle/errormaker.vim
	url = https://github.com/mh21/errormarker.vim
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
